.head {
  width: 100%;
  height: 90px;
  background-color: white; }
  .head .log {
    width: 970px;
    height: 90px;
    margin: 0 auto;
    overflow: inherit; }
    .head .log .left {
      float: left;
      margin-right: 52px; }
      .head .log .left a {
        float: left;
        margin-top: 26px;
        width: 104px;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer; }
        .head .log .left a img {
          border: none; }
      .head .log .left span {
        float: left;
        margin-top: 30px;
        margin-right: 15px;
        display: inline-block; }
        .head .log .left span img {
          border: none; }
    .head .log .midlle {
      float: right; }
      .head .log .midlle ul {
        float: right; }
        .head .log .midlle ul li {
          float: right;
          height: 90px;
          margin-right: 45px;
          line-height: 90px;
          list-style: none; }
          .head .log .midlle ul li .green {
            color: #29b572; }
          .head .log .midlle ul li a {
            color: #333333;
            display: block;
            font-size: 16px;
            text-decoration: none; }
          .head .log .midlle ul li a:hover {
            color: #29b572; }
        .head .log .midlle ul .right {
          margin-right: 0px; }

.back {
  width: 100%;
  height: 600px;
  background: url("../imges/Z.jpg") no-repeat center; }
  .back .center {
    position: relative;
    min-width: 600px;
    width: 970px;
    margin: 0 auto; }
    .back .center .warp {
      right: 0;
      top: 76px;
      width: 320px;
      padding-bottom: 20px;
      position: absolute;
      background: #eef5ec; }
      .back .center .warp .title {
        height: 50px;
        line-height: 50px;
        background: white;
        border-bottom: 1px solid #cfcfcf; }
        .back .center .warp .title a {
          float: left;
          width: 160px;
          color: #616161;
          text-align: center;
          text-decoration: none; }
        .back .center .warp .title a:hover {
          color: #29b572;
          font-size: 16px;
          border-bottom: 2px solid #29b572; }
        .back .center .warp .title .on {
          color: #29b572;
          font-size: 16px;
          border-bottom: 2px solid #29b572; }
      .back .center .warp .warp_log {
        padding: 36px 30px 0px 30px; }
        .back .center .warp .warp_log .log_phone {
          width: 258px;
          height: 20px;
          line-height: 20px;
          padding: 19px 0px;
          margin-bottom: 15px;
          background: white;
          border: 1px solid #cccccc; }
          .back .center .warp .warp_log .log_phone span {
            background: url("../imges/xue3.png") no-repeat 0px 2px; }
        .back .center .warp .warp_log .error {
          color: #eb0000;
          font-size: 12px;
          margin-top: -5px;
          margin-bottom: 10px;
          display: none; }
          .back .center .warp .warp_log .error em {
            width: 14px;
            height: 14px;
            margin-right: 5px;
            margin-bottom: -3px;
            display: inline-block;
            background: url(../imges/xue3.png) no-repeat -1px -146px; }
        .back .center .warp .warp_log .log_pass {
          width: 258px;
          height: 20px;
          line-height: 20px;
          padding: 19px 0px;
          margin-bottom: 15px;
          background: white;
          border: 1px solid #cccccc; }
          .back .center .warp .warp_log .log_pass span {
            background: url("../imges/xue3.png") no-repeat 0px -23px; }
        .back .center .warp .warp_log .log_yanzheng {
          overflow: hidden;
          margin-bottom: 15px; }
          .back .center .warp .warp_log .log_yanzheng .yanzheng_left {
            float: left;
            width: 158px;
            height: 20px;
            background: white;
            padding: 19px 0px;
            border: 1px solid #cccccc; }
            .back .center .warp .warp_log .log_yanzheng .yanzheng_left span {
              float: left;
              width: 22px;
              height: 20px;
              margin-right: 12px;
              margin-left: 10px;
              display: inline-block;
              border-right: 1px solid #e8e8e8;
              background: url("../imges/xue3.png") no-repeat 0px -47px; }
            .back .center .warp .warp_log .log_yanzheng .yanzheng_left input {
              width: 110px; }
          .back .center .warp .warp_log .log_yanzheng .yanzheng_right {
            float: right;
            width: 90px;
            height: 38px;
            cursor: pointer;
            background: white;
            line-height: 38px;
            text-align: center;
            border: 1px solid #cccccc; }
        .back .center .warp .warp_log .log_remem {
          overflow: hidden;
          font-size: 12px;
          margin-bottom: 10px; }
          .back .center .warp .warp_log .log_remem .remem_left {
            float: left;
            color: #848585; }
            .back .center .warp .warp_log .log_remem .remem_left input {
              width: auto;
              margin-right: 5px;
              margin-top: 0px; }
            .back .center .warp .warp_log .log_remem .remem_left span {
              width: 60px;
              margin-top: 2px;
              margin-left: -3px; }
          .back .center .warp .warp_log .log_remem .remem_right {
            float: right;
            color: #848585; }
            .back .center .warp .warp_log .log_remem .remem_right a {
              text-decoration: none;
              color: #848585; }
            .back .center .warp .warp_log .log_remem .remem_right a:hover {
              color: #29b572; }
        .back .center .warp .warp_log .log_button input {
          width: 260px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #29b572;
          margin-bottom: 30px;
          color: white; }
        .back .center .warp .warp_log input {
          float: left;
          margin-top: -10px;
          width: 212px;
          height: 20px;
          line-height: 20px;
          color: #333333;
          border: none;
          outline: none; }
        .back .center .warp .warp_log span {
          float: left;
          width: 22px;
          height: 20px;
          margin-top: -10px;
          margin-right: 12px;
          margin-left: 10px;
          display: inline-block;
          border-right: 1px solid #e8e8e8; }
      .back .center .warp .warp_reg {
        padding: 36px 30px 0px 30px;
        display: none; }
        .back .center .warp .warp_reg .reg_phone {
          width: 258px;
          height: 20px;
          line-height: 20px;
          padding: 19px 0px;
          margin-bottom: 15px;
          background: white;
          border: 1px solid #cccccc; }
          .back .center .warp .warp_reg .reg_phone span {
            background: url("../imges/xue3.png") no-repeat 0px 2px; }
        .back .center .warp .warp_reg .error {
          color: #eb0000;
          font-size: 12px;
          margin-top: -5px;
          margin-bottom: 10px;
          display: none; }
          .back .center .warp .warp_reg .error em {
            width: 14px;
            height: 14px;
            margin-right: 5px;
            margin-bottom: -3px;
            display: inline-block;
            background: url(../imges/xue3.png) no-repeat -1px -146px; }
        .back .center .warp .warp_reg .reg_yanzheng1 {
          overflow: hidden;
          margin-bottom: 15px; }
          .back .center .warp .warp_reg .reg_yanzheng1 .yanzheng1_left {
            float: left;
            width: 158px;
            height: 20px;
            background: #fff;
            padding: 19px 0px;
            border: 1px solid #cccccc; }
            .back .center .warp .warp_reg .reg_yanzheng1 .yanzheng1_left span {
              float: left;
              width: 22px;
              height: 20px;
              margin-right: 12px;
              margin-left: 10px;
              display: inline-block;
              border-right: 1px solid #e8e8e8;
              background: url(../imges/xue3.png) no-repeat 0px -47px; }
            .back .center .warp .warp_reg .reg_yanzheng1 .yanzheng1_left input {
              width: 110px;
              float: left; }
          .back .center .warp .warp_reg .reg_yanzheng1 .yanzheng1_right {
            float: right;
            width: 90px;
            height: 30px;
            color: #29b572;
            margin-top: 4px;
            cursor: pointer;
            background: #fff;
            line-height: 30px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #cccccc;
            outline: none; }
        .back .center .warp .warp_reg .reg_yanzheng2 {
          overflow: hidden;
          margin-bottom: 15px; }
          .back .center .warp .warp_reg .reg_yanzheng2 .yanzheng2_left {
            float: left;
            width: 158px;
            height: 20px;
            background: #fff;
            padding: 19px 0px;
            border: 1px solid #cccccc; }
            .back .center .warp .warp_reg .reg_yanzheng2 .yanzheng2_left span {
              float: left;
              width: 22px;
              height: 20px;
              margin-right: 12px;
              margin-left: 10px;
              display: inline-block;
              border-right: 1px solid #e8e8e8;
              background: url(../imges/xue3.png) no-repeat 0px -47px; }
            .back .center .warp .warp_reg .reg_yanzheng2 .yanzheng2_left input {
              width: 110px;
              float: left; }
          .back .center .warp .warp_reg .reg_yanzheng2 .yanzheng2_right {
            float: right;
            width: 90px;
            height: 30px;
            color: #29b572;
            margin-top: 4px;
            cursor: pointer;
            background: #fff;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            border: 1px solid #cccccc;
            outline: none; }
          .back .center .warp .warp_reg .reg_yanzheng2 .yanzheng2_right:hover {
            border: 1px solid #29b572; }
        .back .center .warp .warp_reg .reg_pass {
          width: 258px;
          height: 20px;
          padding: 19px 0px;
          line-height: 20px;
          margin-bottom: 15px;
          background: #ffffff;
          border: 1px solid #cccccc; }
          .back .center .warp .warp_reg .reg_pass span {
            background: url(../imges/xue3.png) no-repeat 0px -23px; }
        .back .center .warp .warp_reg .reg_pass2 {
          width: 258px;
          height: 20px;
          padding: 19px 0px;
          line-height: 20px;
          margin-bottom: 15px;
          background: #ffffff;
          border: 1px solid #cccccc; }
          .back .center .warp .warp_reg .reg_pass2 span {
            background: url(../imges/xue3.png) no-repeat 0px -117px; }
        .back .center .warp .warp_reg .reg_remem {
          width: 258px;
          height: 20px;
          line-height: 20px;
          margin-bottom: 30px; }
          .back .center .warp .warp_reg .reg_remem input {
            width: auto;
            margin-right: 4px;
            margin-top: 0px; }
          .back .center .warp .warp_reg .reg_remem a {
            color: #848585;
            text-decoration: none;
            display: inline-block;
            margin-top: -12px; }
        .back .center .warp .warp_reg .reg_button input {
          color: #fff;
          width: 260px;
          height: 40px;
          cursor: pointer;
          margin-top: 10px;
          line-height: 40px;
          text-align: center;
          margin-bottom: 30px;
          background: #29b572; }
        .back .center .warp .warp_reg input {
          float: left;
          margin-top: -10px;
          width: 212px;
          height: 20px;
          line-height: 20px;
          color: #333333;
          border: none;
          outline: none; }
        .back .center .warp .warp_reg span {
          float: left;
          width: 22px;
          height: 20px;
          margin-top: -10px;
          margin-right: 12px;
          margin-left: 10px;
          display: inline-block;
          border-right: 1px solid #e8e8e8; }

.foot {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: -1; }
  .foot .bottom {
    height: 50px;
    color: #888888;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #e8e8e8; }
    .foot .bottom span {
      margin: 0px 6px; }
      .foot .bottom span a {
        text-decoration: none;
        color: #808080;
        font-size: 14px; }
      .foot .bottom span a:hover {
        color: #00761a; }
