*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background-color: #000000;
	height: 667px;
	overflow: hidden;
}
.i1{
	width: 100%;
	height: 667px;
}
.tudiv{
	width: 208px;
	height: 208px;
	margin: 0 auto;
	position: relative;
	top: -570px;
}
.tudiv1{
	width: 208px;
	height: 208px;

}
.red{
	height: 208px;
	width: 120px;
}
.tudiv2{
	width: 208px;
	height: 208px;
	margin-top: -208px;
}
.blue{
	height: 208px;

}
.tudiv3{
	width: 205px;
	height: 104px;
	margin-top: -100px;
}
.yellow{
	width: 205px;
	height: 104px;
}
.tudiv2{
	animation: blue 2s  linear forwards;
}
@keyframes blue{
	0%{transform: translateX(200px);}
	60%{transform: translateX(200px);}
	100%{transform: translateX(0px);}
}
.tudiv1{
	animation: red 2s  linear  forwards;
}
@keyframes red{
	0%{transform: translateX(-200px);}
	60%{transform: translateX(-200px);}
	100%{transform: translateX(0px);}
}
.tudiv3{
	animation: yellow 2s  linear  forwards;
}
@keyframes yellow{
	0%{transform: translateY(200px);}
	60%{transform: translateY(200px);}
	100%{transform: translateY(0px);}
}
.tudiv4{
	width: 44px;
	height: 60px;
	margin-top: -130px;
	position: absolute;
	animation: s_blue 3s  linear  forwards;
}
.s_blue{
	width: 44px;
	height: 60px;
}
@keyframes s_blue{
	0%{transform: translateY(-250px) translateX(100px);}
	60%{transform: translateY(-250px) translateX(100px);}
	100%{transform: translateY(0px) translateX(0px);}
}
.tudiv5{
	width: 15px;
	height: 17px;
	margin-top: -120px;
	margin-left: 60px;
	position: absolute;
	animation: s_red 2.5s  linear  forwards;
	z-index: 20;
}
.s_red{
	width: 15px;
	height: 17px;
}
@keyframes s_red{
	0%{transform: translateY(-250px) translateX(100px);}
	60%{transform: translateY(-250px) translateX(100px);}
	100%{transform: translateY(0px) translateX(0px);}
}
.tudiv6{
	width: 50px;
	height: 108px;
	margin-top: -165px;
	margin-left: 45px;
	position: absolute;
	animation: s_gary 2.5s  linear  forwards;
}
.s_gary{
	width: 50px;
	height: 108px;
}
@keyframes s_gary{
	0%{transform: translateY(-300px) translateX(100px);}
	60%{transform: translateY(-300px) translateX(100px);}
	100%{transform: translateY(0px) translateX(0px);}
}
.tudiv7{
	width: 56px;
	height: 181px;
	margin-top: -210px;
	margin-left: 90px;
	position: absolute;
	animation: s_green 2s  linear  forwards;
}
.s_green{
	width: 56px;
	height: 181px;
}
@keyframes s_green{
	0%{transform: translateY(-300px);}
	70%{transform: translateY(-300px) ;}
	100%{transform: translateY(0px) ;}
}
.tudiv8{
	width: 26px;
	height: 110px;
	margin-top: -210px;
	margin-left: 120px;
	position: absolute;
	animation: s_gary_top 2s  linear  forwards;
}
.s_gary_top{
	width: 26px;
	height: 110px;
}
@keyframes s_gary_top{
	0%{transform: translateY(-300px) translateX(150px);}
	70%{transform: translateY(-300px) translateX(150px);}
	100%{transform: translateY(0px) translateX(0px);}
}
.tudiv9{
	width: 151px;
	height: 84px;
	margin-top: -84px;
	margin-left: 55px;
	position: absolute;
	animation: s_blue_di 2s  linear  forwards;
}
.s_blue_di{
	width: 151px;
	height: 84px;
}
@keyframes s_blue_di{
	0%{transform: translateY(300px) translateX(300px);}
	60%{transform: translateY(300px) translateX(300px);}
	100%{transform: translateY(0px) translateX(0px);}
}

.tudiv10{
	width: 26px;
	height: 42px;
	margin-top:-123px;
	margin-left: 9px;
	position: absolute;
	animation: big_d 3s  linear  forwards;
	z-index: 30;
}
.big_d{
	width: 26px;
	height: 42px;
}
@keyframes big_d{
	0%{transform: scale(1,1) translateX(-60px); opacity:0;}
	30%{transform: scale(20,20) translateX(-60px);opacity: 0;}
	100%{transform: scale(1,1) translateX(0px);opacity: 1;}
}
.tudiv11{
	width: 155px;
	height: 137px;
	margin-top:-136px;
	margin-left: 50px;
	position: absolute;
	animation: r_am 4s  linear  forwards;
	z-index: 20;

}
.r_am{
	width: 155px;
	height: 137px;
}
@keyframes r_am{
	0%{transform: scale(20,20);  opacity: 0;}
	60%{transform: scale(20,20); opacity: 0;}
	100%{transform: scale(1,1) opacity:1;}
}
.tudiv12{
	width: 28px;
	height: 61px;
	margin-top:-136px;
	margin-left: 83px;
	position: absolute;
	animation: big_e 4.5s  linear  forwards;
	z-index: 20;

}
.big_e{
	width: 28px;
	height: 61px;
}
@keyframes big_e{
	0%{transform: scale(20,20);  opacity: 0;}
	60%{transform: scale(20,20); opacity: 0;}
	100%{transform: scale(1,1) opacity:1;}
}
.tudiv13{
	width: 150px;
	height: 26px;
	margin-top:-27px;
	margin-left: 63px;
	position: absolute;
	animation: maker 4.5s  linear  forwards;
	z-index: 20;

}
.m{
	widows: 35px;
	height: 28px;
}
.a{
	widows: 30px;
	height: 27px;
}
.k{
	widows: 25px;
	height: 28px;
}
.e{
	widows: 17px;
	height: 28px;
}
.m{
	widows: 22px;
	height: 27px;
}
@keyframes maker{
	0%{transform: scale(10,10);  opacity: 0;}
	90%{transform: scale(10,10); opacity: 0;}
	100%{transform: scale(1,1) opacity:1;}
}
.txtdiv{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 90px;
	z-index: 30;
}
.txtdiv1 p{
	color: white;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin: 0;
}
.txtdiv1{
/*	position: absolute;*/
	animation: txt 5s  linear  forwards;
	z-index: 30;

}
@keyframes txt{
	0%{transform: scale(0,0);  opacity: 0;}
	90%{transform: scale(0,0); opacity: 0;}
	100%{transform: scale(1,1) opacity:1;}
}
.stardiv1{
	width: 108px;
	height: 37px;
	position: absolute;
	top: 200px;
	left: 100%;
	animation: star_yellow 3s 2.5s linear infinite;
}
.star_yellow{
	width: 108px;
	height: 37px;
}
@keyframes star_yellow{
	0%{transform: translateX(0px) translateY(0px); opacity: 1;}
	30%{transform: translateX(-300px) translateY(-140px); opacity: 1;}
	31%{transform: translateX(-300px) translateY(-140px); opacity:0;}
	100%{transform: translateX(-300px) translateY(-140px); opacity:0;}
}
.stardiv2{
	width: 136px;
	height: 80px;
	position: absolute;
	top: 200px;
	left: 100%;
	z-index: 30;
	animation: star_green 3s 2s linear infinite;
}
.star_green{
	width: 136px;
	height: 80px;
}
@keyframes star_green{
	0%{transform: translateX(0px) translateY(0px); opacity: 1;}
	40%{transform: translateX(-60vw) translateY(140px); opacity: 1;}
	41%{transform: translateX(-60vw) translateY(140px); opacity:0;}
	100%{transform: translateX(-60vw) translateY(140px); opacity:0;}
}
.stardiv3{
	width: 150px;
	height: 38px;
	position: absolute;
	top: 200px;
	left: -35%;
	z-index: 30;
	animation: star_red 3s 2s linear infinite;
}
.star_green{
	width: 150px;
	height: 38px;
}
@keyframes star_red{
	0%{transform: translateX(0px) translateY(0px); opacity: 1;}
	40%{transform: translateX(60vw) translateY(140px); opacity: 1;}
	41%{transform: translateX(60vw) translateY(140px); opacity:0;}
	100%{transform: translateX(60vw) translateY(140px); opacity:0;}
}
.nextdiv{
	width: 27px;
	height: 9px;
	position: absolute;
	top: 840px;
	left: 48%;
	z-index: 30;
	animation: next 1s linear infinite;
}
.next{
	width: 27px;
	height: 9px;
}
@keyframes next{
	0%{transform:  translateY(5px); }
	25%{transform:  translateY(0px); }
	50%{transform:  translateY(-5px); }
	75%{transform:  translateY(0px); }
	100%{transform:  translateY(5px); }
}

.musicdiv{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 840px;
	left: 95%;
	z-index: 30;
	animation: music 2s linear infinite;
}
.music{
	width: 25px;
	height: 25px;
}
@keyframes music{
	0%{transform:  rotateZ(0deg); }
	100%{transform:  rotateZ(360deg);}

}
.musicdiv:hover{
	animation: stop 2s linear infinite;
}
@keyframes stop{
	0%{transform:  rotateZ(0deg); }
	100%{transform:  rotateZ(0deg);}

}



